* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Byekan;
}

@font-face {
    font-family: Byekan;
    src: url('../font/yekan/BYekan-webfont.woff');
}

html {
    background-color: #EAEEF2;
}

.main-section {
    width: 100vw;
    height: 92vh;
    position: fixed;
    top: 7.3vh;
    background: url('../image/body_back4.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.admin-header {
    position: relative;
}
.waiting-text{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: opacityChange;
    animation-iteration-count: infinite;
    animation-duration: 1s;
 }
 @keyframes opacityChange{
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
 }
 .pointer{
    cursor: pointer;
 }

/* login start */
.login-container {
    height: 100%;
    background-color: #EAEEF2;

}

.form-handler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container {
    background: url('../image/logo.PNG');
    height: 30vh;
    width: 20vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 50%;
}

.image-container {
    height: 97vh;
    width: 70vw;
    background: url('../image/3.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* login end */
/* sidenav start */
.hamburger {
    float: right;
}

/* sidenav end */
/* dropdown start */
.dropdown-btn {
    position: absolute;
    top: 1.5vh;
    left: 1vw;
}

.dropdown-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dd-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon-handler {
    color: #26a69a;
}

/* dropdown end */
/* sidenav start */
.avatar {
    height: 20vh;
    background: url('../image/avatar.png');
    background-color: snow;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sidenav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidenav-container li {
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}

.sidenav-container i {
    position: absolute;
    right: -2.5vw;
}

.sidenav-content {
    color: snow;
}

/* sidenav end */
/* registerForm start */

.form-container {
    width: 70vw;
    height: 80vh;
    background-color: snow;
    box-shadow: 0px 0px 15px rgb(182, 182, 182);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-part {
    position: relative;
}

.error-handler {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}
.title-container {
    color: #26a69a;
    text-align: center;
    margin-top: -7vh;
}
.submit-container{
    position: relative;
    top: 10%;
    right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.back-btn{
    margin-right: 2%;
}
.form-part-date{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.form-data-span{
    z-index: 100 !important;
    background-color: red;
    cursor: pointer !important;
}
.icon-date{
    color: #219b8f;
    font-size: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-date i {
    cursor: pointer;
    position: absolute;
    right: 20vw;
    top: 1vh;
}
.day-container{
    width: 5vw !important;
}
.month-container{
    width: 7vw !important;
}
.year-container{
    width: 6vw !important;
}

.table-search-container{
    width: 85vw;
    height: 70vh;
    background-color: transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position: relative;
}
.search-container{
    width: 30vw;
    height: 10vh;
    /* background-color: snow; */
    position: absolute;
    top: 0vh;
    right: 2vh;
    padding: 0px 5px 0px 5px;
}
::placeholder{
    color: rgb(0, 0, 0);
}

td , th {
    text-align: center !important;
}
th , td{
    border: 0.5px solid gray ;
}
tr {
    line-height: 1vh;
}
.paginated-table{
    width: 100%;
    box-shadow: 0px 0px 18px rgb(173, 173, 173);
    background-color: snow;
    position: absolute;
    right: 2vh;
    top: 12vh;
}
.thead{
    background-color:#15a0929a;
}
.tbody th{
    font-weight: 80;
}
.pagination-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: unset;
    box-shadow: unset;
}
.pagination li {
    margin: 0px 5px 0px 5px;
    font-size: 1.5vw;
    color: black;
}
.disable{
    pointer-events: none !important;
    opacity: 0.5;
}
.in-page{
    font-size: 2vw;
    color: #219b8f;
}
.table-icon{
    margin-left: 8px;
    font-size: 1.5vw;
}
.table-add-new-person{
    font-size: 2.5vw;
    color:#219b8f;
    position: absolute;
    left: 7vw;
    top: 16vh;
    height: 4vh;
    cursor: pointer;
}
/* pagination table end */
/* passwordManagement start */
.password-container{
    width: 40vw;
    height: 50vh;
    box-shadow: 0px 0px 18px rgb(173, 173, 173);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: snow;
    border-radius: 8px;
}
.password-title{
    color: #26a69a;
    text-align: center;
}
.back-button{
    margin-right: 2vw;
}
.button-container{
    margin-top: 1vh;
}
/* passwordManagement end */